@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Assignment Week8 (test git workflow action)</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Building and Deploying ASP Web apps with Azure App Service and Git pipeline</a></p>
</div>
